<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
    <div class="main-content">
        <div class="header">
            <div class="search-bar">
                <form action="/search-user" method="GET">
                    <input type="text" name="search" placeholder="Search User">
                    <button  class="admin-search-button"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="admin-profile mx-3">
                <a href="/settings">
                    <i class="fa-solid fa-circle-user"></i>
                </a>
            </div>
        </div>
        <div class="brudcrumbs"><a href="/category">Category </a>> Add category</div>

        <% if (msg) { %>
            <div class="alert <%= msg.type === 'success' ? 'alert-success' : 'alert-error' %>">
                <%= msg.msg %>
            </div>
        <% } %>
        <form action="/admin/add-category" method="POST">
            <label for="categoryName">Category Name:</label>
            <input type="text" id="categoryName" name="categoryName" required><br><br>
    
            <label for="description">Category Description:</label>
            <input type="text" id="description" name="description" required><br><br>
    
            <label for="subcategoryName">Subcategory Name:</label>
            <input type="text" id="subcategoryName" name="subcategoryName" required><br><br>
    
            <label for="subcategoryDescription">Subcategory Description:</label>
            <input type="text" id="subcategoryDescription" name="subcategoryDescription" required><br><br>
    
            <button type="submit">Add Category and Subcategory</button>
        </form>


        <h3>Add Subcategory to Existing Category</h3>
        <form action="/admin/add-subcategory" method="POST">
            <label for="categoryId">Select Category:</label>
            <select id="categoryId" name="categoryId" required>
                <option value="" disabled selected>Select a category</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                <% }) %>
            </select><br><br>

            <label for="subcategoryName">Subcategory Name:</label>
            <input type="text" id="subcategoryName" name="subcategoryName" required><br><br>

            <label for="subcategoryDescription">Subcategory Description:</label>
            <input type="text" id="subcategoryDescription" name="subcategoryDescription" required><br><br>

            <button type="submit">Add Subcategory</button>
        </form>
    </div>  
</body>
<%- include('partials/footer') %> 
</html>
