<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 

<div class="main-content">
    <div class="header">
        <div class="search-bar">
            <form action="/admin/search-brands" method="GET">
                <input type="text" name="search" placeholder="Search Brand" value="<%= search %>">
                <button class="admin-search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="admin-profile mx-3">
            <a href="/admin/settings">
                <i class="fa-solid fa-circle-user"></i>
            </a>
        </div>
    </div>

    <div class="breadcrumbs"><a href="/admin/brands">Brands</a></Base></div>

    <div>
        <div class="filter-container">
            <div class="filter-div1">
                <div class="filter-box">
                    <i class="fa-solid fa-filter"></i>
                </div>
                <div class="filter-box">
                    <label for="filter">Filter By
                        <select name="filter" id="filter">
                            <option value="date">14 Feb 2014</option>
                        </select>
                    </label>
                </div>
                <form action="/admin/brands" method="GET">
                    <div class="filter-box">
                        <label for="isListed">Status
                            <select name="isListed" id="isListed" onchange="this.form.submit()">
                                <option value="">All</option>
                                <option value="true" <%= isListed === 'true' ? 'selected' : '' %>>Listed</option>
                                <option value="false" <%= isListed === 'false' ? 'selected' : '' %>>Unlisted</option>
                            </select>
                        </label>
                    </div>
                </form>
                
            </div>

            <% if (msg) { %>
                <div class="alert <%= msg.type === 'success' ? 'alert-success' : 'alert-error' %>">
                    <%= msg.text %>
                </div>
            <% } %>

            <a href="/admin/add-new-brand">
                <button class="add-new-brand-btn my-1">Add New Brand <i class="fas fa-plus-circle"></i></button>
            </a>
        </div>

        <table class="all-table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Logo</th>
                    <th>Brand Name</th>
                    <th>Created At</th>
                    <!-- <th>List / Unlist</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% brands.forEach((brand, index) => { %>
                    <tr>
                        <td><%= (currentPage - 1) * 5 + index + 1 %></td>
                        <td><img src="/uploads/<%= brand.brandImage %>" alt="<%= brand.brandName %> Image" width="50" height="50"></td>

                        <td><%= brand.brandName %></td>
                        <td><%= brand.created_at.toLocaleDateString() %></td>
                        <!-- <td>
                            <button
                            class="<%= brand.isListed ? 'unlist-btn' : 'list-btn' %>"
                            data-id="<%= brand._id %>"
                            onclick="toggleBrand(this)"
                          >
                            <%= brand.isListed ? 'Unlist' : 'List' %>
                          </button>
                        </td> -->
                        
                        <td>
                            <a href="/admin/edit-brand/<%= brand._id %>"><button class="edit-btn">Edit</button></a> |
                            <!-- <a href="/delete-brand/<%= brand._id %>" onclick="return confirm('Are you sure?')"><button class="delete-btn" >Delete</button></a> -->
                            <button
                            class="<%= brand.isListed ? 'unlist-btn' : 'list-btn' %>"
                            data-id="<%= brand._id %>"
                            onclick="toggleBrand(this)"
                          >
                            <%= brand.isListed ? 'Unlist' : 'List' %>
                          </button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="pagination">
            <% if (currentPage > 1) { %>
                <a href="/admin/brands?page=<%= currentPage - 1 %>&search=<%= search %>&isListed=<%= isListed %>">Previous</a>
            <% } %>
        
            <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="/admin/brands?page=<%= i %>&search=<%= search %>&isListed=<%= isListed %>"
                   class="<%= currentPage === i ? 'active' : '' %>">
                    <%= i %>
                </a>
            <% } %>
        
            <% if (currentPage < totalPages) { %>
                <a href="/admin/brands?page=<%= currentPage + 1 %>&search=<%= search %>&isListed=<%= isListed %>">Next</a>
            <% } %>
        </div>        
    </div>
</div>

<%- include('partials/footer') %> 
<script>
        const toastSuccess = (message) => {
      iziToast.success({
        message: message,
        backgroundColor: '#0e932d',
        messageColor: '#FFFFFF',
        icon: 'fa fa-check',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',
      });
    };

    const toastError = (message) => {
      iziToast.error({
        message: message,
        backgroundColor: '#e51e1e',
        messageColor: '#FFFFFF',
        icon: 'fa fa-times',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',
      });
    };

    const toastInfo = (message) => {
      iziToast.info({
        message: message,
        backgroundColor: '#2160de',
        messageColor: '#FFFFFF',
        icon: 'fa fa-info-circle',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',
      });
    };

    const toastWarning = (message) => {
      iziToast.warning({
        message: message,
        backgroundColor: '#e5811e',
        messageColor: '#212529',
        icon: 'fa fa-exclamation-triangle',
        iconColor: '#212529',
        timeout: 1500,
        position: 'topRight',
      });
    };
    const toggleBrand = async (button) => {
  const brandId = button.getAttribute("data-id");

  try {
    const response = await fetch(`/admin/toggle-brand/${brandId}`, {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
      },
    });

    const data = await response.json();

    if (data.success) {
      toastSuccess(data.message);

      if (data.isListed) {
        button.textContent = "Unlist";
        button.classList.remove("list-btn");
        button.classList.add("unlist-btn");
      } else {
        button.textContent = "List";
        button.classList.remove("unlist-btn");
        button.classList.add("list-btn");
      }
    } else {
      toastError(data.message);
    }
  } catch (error) {
    console.error("Error toggling brand:", error);
    toastWarning("Something went wrong.");
  }
};


</script>
</html>
