<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <div class="main-content">
        <div class="breadcrumbs"><a href="/category">Category </a>> Edit Category</div>

        <% if (msg) { %>
            <div class="alert <%= msg.type === 'success' ? 'alert-success' : 'alert-error' %>">
                <%= msg.msg %>
            </div>
        <% } %>

        <h3>Edit Category</h3>
        <form action="/admin/category/edit/<%= category._id %>" method="POST">
            <label for="name">Category Name:</label>
            <input
                type="text"
                id="name"
                name="name"
                value="<%= category.name %>"
                required
            /><br /><br />

            <label for="description">Category Description:</label>
            <input
                type="text"
                id="description"
                name="description"
                value="<%= category.description %>"
                required
            /><br /><br />

            <button type="submit">Update Category</button>
        </form>
    </div>
</body>
<%- include('partials/footer') %>
</html>
