<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="header">
      <div class="responsive-logo-admin-side">
        <div class="d-flex align-items-center">
          <i class="fa fa-bars" id="sidebar-toggle"></i>
        <h2 class="m-0 mx-2"> Glowly</h2>
        </div>
      </div>
      <div class="search-bar">
        <form action="/admin/search-user" method="GET">
          <input type="text" name="search" placeholder="Search " readonly/>
          <button class="admin-search-button">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <div class="admin-profile mx-3">
        <a href="/admin/settings">
          <i class="fa-solid fa-circle-user"></i>
        </a>
      </div>
    </div>
    <div id="background-overlay" class="overlay"></div>
    <div class="main-content">
      
      <div class="breadcrumbs">
        <a href="/admin/category">Category </a> > <a href="">Edit category</a>
      </div>

      <div class="add-product-container4">
        <div class="add-category-container4">
          <h4>Edit Category</h4>
          <form id="updateCategoryForm">
            <label for="name">Category Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              value="<%= category.name %>"
              required
            />

            <label for="description">Category Description:</label>
            <input
              type="text"
              id="description"
              name="description"
              value="<%= category.description %>"
              required
            />

            <button type="submit" class="large-button-green">
              Update Category
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <%- include('partials/footer') %>
  <script>
            const toastSuccess = (message) => {
      iziToast.success({
        message: message,
        backgroundColor: '#0e932d',
        messageColor: '#FFFFFF',
        icon: 'fa fa-check',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',
      });
    };

    const toastError = (message) => {
      iziToast.error({
        message: message,
        backgroundColor: '#e51e1e',
        messageColor: '#FFFFFF',
        icon: 'fa fa-times',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',
      });
    };

    const toastInfo = (message) => {
      iziToast.info({
        message: message,
        backgroundColor: '#2160de',
        messageColor: '#FFFFFF',
        icon: 'fa fa-info-circle',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',
      });
    };

    const toastWarning = (message) => {
      iziToast.warning({
        message: message,
        backgroundColor: '#e5811e',
        messageColor: '#212529',
        icon: 'fa fa-exclamation-triangle',
        iconColor: '#212529',
        timeout: 1500,
        position: 'topRight',
      });
    };

    document.getElementById('updateCategoryForm').addEventListener('submit', async function (e) {
    e.preventDefault();  // Prevent the form from submitting the traditional way
    
    const categoryId = "<%= category._id %>";
    const name = document.getElementById('name').value;
    const description = document.getElementById('description').value;

    try {
        const response = await fetch(`/admin/category/edit/${categoryId}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name, description })
        });

        const result = await response.json();

        if (response.ok) {
          toastSuccess(result.msg); 
          setTimeout(() => {
                window.location.href = '/admin/category';
            }, 1500);
        } else {
            toastError(result.msg);  
        }

    } catch (error) {
        console.error('Error updating category:', error);
        toastWarning('An error occurred while updating the category');
    }
});

  </script>
</html>
