<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 

<div class="main-content">
    <div class="header">
        <div class="search-bar">
            <form action="/search-user" method="GET">
                <input type="text" name="search" placeholder="Search User">
                <button  class="admin-search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="admin-profile mx-3">
            <a href="/settings">
                <i class="fa-solid fa-circle-user"></i>
            </a>
        </div>
    </div>

    <div class="breadcrumbs"><a href="/category">Cateory</a> > <a href="/add-offer">Add Offer</a></div>

    <div>
        <div class="add-offer-box">
            <h5 class="m-0">Add Offer for Category: <%= category.name %></h5>
            <!-- Form to add an offer -->
            <form action="/add-offer/<%= category._id %>" method="POST">
                <div class="add-products-container-center coupoun-div">
                    <div>
                        <label for="category">Category</label>
                        <input type="text" id="category" name="category" value="<%= category.name %>" readonly>
                    </div>
                    <div>
                        <label for="subCategory">Subcategories</label>
                        <select id="subCategory" name="subCategory" required>
                            <option value="">Select a subcategory</option>
                            <% subCategories.forEach(subCategory => { %>
                                <option value="<%= subCategory._id %>"><%= subCategory.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="add-products-container-center coupoun-div">
                    <div>
                        <label for="offerType">Offer Type:</label>
                        <select name="offerType" id="offerType">
                            <option value="percentage">Percentage</option>
                            <option value="flat">Flat Amount</option>
                        </select>
                    </div>
                    <div>
                        <label for="offerValue">Offer Value:</label>
                        <input type="number" name="offerValue" id="offerValue" required>
                    </div>
                </div>

                <label for="description">Description:</label>
                <input type="text" name="description" id="description" required>

                <div class="add-products-container-center coupoun-div">
                    <div>
                        <label for="startDate">Start Date:</label>
                        <input type="date" name="startDate" id="startDate" required>
                    </div>
                     <div>
                        <label for="endDate">End Date:</label>
                        <input type="date" name="endDate" id="endDate" required>
                     </div>                    
                </div>
                

                
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="large-button-green px-4" disabled>Add Offer</button>
                </div>
                               
                
            </form>
       </div>

        
    </div>


</div>

<%- include('partials/footer') %> 
</html>
