<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 

    <div class="main-content">
        <div class="header">
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>
            <div class="admin-profile mx-3">
                <a href="/settings">
                    <i class="fa-solid fa-circle-user"></i>
                </a>
            </div>
        </div>
        <div class="brudcrumbs">brudcrumbs</div>
        <table class="all-table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach((user, index) => { %>
                   <tr>
                    <td><%= (currentPage - 1) * perPage + index + 1 %></td>
                     <td><%= user.name %></td>
                     <td><%= user.email %></td>
                     <td><%= user.phone_no %></td>
                     <td><%= user.created_at %></td> 
                     <td>
                        <!-- Form for blocking user (update) -->
                        <form action="/update" method="POST">
                            <input type="hidden" name="userId" value="<%= user._id %>"> <!-- User ID for identification -->
                            <button type="submit">Block</button>
                        </form>
                     </td>
                   </tr>
                <% }); %>
            </tbody>
        </table>
        <div class="pagination">
            <% if (currentPage > 1) { %> 
                <a href="/users?page=<%= currentPage - 1 %>">Previous</a>
            <% } %>
        
            <% for (let i = 1; i <= totalPages; i++) { %>
                <!-- Make each page number clickable -->
                <a href="/users?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>">
                    <%= i %> <!-- Display the page number here -->
                </a>    
            <% } %>
        
            <% if (currentPage < totalPages) { %>
                <a href="/users?page=<%= currentPage + 1 %>">Next</a>
            <% } %>
        </div>
        
    </div>
</body>
<%- include('partials/footer') %> 
</html>
