<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headforhome', { name: name, categories: categories }) %>

    <div class="user-contents">

        
        <div class="product-grid">
            <% products.forEach(product => { %>
                <div class="product-card">
                    <a href="/product/<%= product._id %>">
                        <img src="/uploads/<%= encodeURIComponent(product.product_imgs[0]) %>" />
                    </a>    
                    <div class="product-card-like">
                        <form action="/add-to-wishlist/<%= product._id %>" method="POST" class="wishlist-form" id="wishlist-form">
                            <% if (user) { %> 
                                <% if (wishlist.some(w => w.product_id._id.toString() === product._id.toString())) { %>
                                    <button type="submit" title="Remove from Wishlist" class="wishlist-button">
                                        <i class="fa-solid fa-heart in-wishlist"></i> 
                                    </button>
                                <% } else { %>
                                    <button type="submit" title="Add to Wishlist" class="wishlist-button">
                                        <i class="fa-solid fa-heart not-in-wishlist"></i>
                                    </button>
                                <% } %>
                            <% } else { %>
                                <button type="button" title="Login to Add to Wishlist" class="wishlist-button" onclick="window.location.href='/login'">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            <% } %>
                        </form>
                    </div>
                        <a href="/product/<%= product._id %>">
                        <p class="product-title"><%= product.title %></p>
                        </a>
                        <div class="product-prices-box">
                            <p class="sale-price">&#8377;<%= product.price %></p>
                            <p class="original-price mx-2">&#8377;<%= product.sales_price %></p>
                            <!-- <p class="product-rating">★★★★☆</p> -->
                            <% if (product.price > product.sales_price) { %>
                                <span class="discount-percentage">
                                    <%= Math.round(((product.price - product.sales_price) / product.price) * 100) %>% Off 
                                </span>
                            <% } %>
                        </div>
                        <a href="/product/<%= product._id %>">
                            <button class="add-to-cart-btn">Add to Bag</button>
                        </a>
                </div>
            <% }) %>
        </div>
        
        <div id="wishlist-notification" class="wishlist-notification">
            <i class="fas fa-check-circle"></i>&nbsp;&nbsp; 
            <p id="wishlist-notification">Product has been added to Wishlist.</p>
        </div>
        

</div>  
    






</body>
<%- include('partials/footerforhome') %>
 
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const forms = document.querySelectorAll('.wishlist-form');
        const notification = document.querySelector('.wishlist-notification');
    
        forms.forEach(form => {
            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Preventing Peage Refresh 
                
                const button = form.querySelector('button');
                const icon = button.querySelector('i'); 
                const productId = form.action.split('/').pop(); 
                const url = form.action; 
    
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ product_id: productId }),
                })
                .then(response => response.json())
                .then(data => {
                    
                    if (data.action === 'added') {
                        icon.classList.remove('not-in-wishlist');
                        icon.classList.add('in-wishlist');
                        button.title = 'Remove from Wishlist';
    
                        notification.innerHTML = `
                            <i class="fas fa-check-circle"></i>&nbsp;&nbsp;
                            <p>Product has been added to Wishlist.</p>
                        `;
                        notification.classList.add('show');
    
                        setTimeout(() => {
                            notification.classList.remove('show');
                        }, 3000);
                    } else if (data.action === 'removed') {
                        icon.classList.remove('in-wishlist');
                        icon.classList.add('not-in-wishlist');
                        button.title = 'Add to Wishlist';
    
                        notification.innerHTML = `
                            <i class="fas fa-check-circle"></i>&nbsp;&nbsp;
                            <p>Product has been removed from Wishlist.</p>
                        `;
                        notification.classList.add('show');
    
                        setTimeout(() => {
                            notification.classList.remove('show');
                        }, 3000);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    });
    
    
    window.onload = function() {
          window.scrollTo(0, 0);
      }
    
    </script> 
</html>