<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headforhome', { name: name }) %>


    <% products.forEach(product => { %> 
        <div class="user-contents">
            <div class="product-card">
                <img src="/uploads/<%= encodeURIComponent(product.product_imgs[0]) %>" />
                <div class="product-card-like"><i class="fa-regular fa-heart"></i></div>
                <p class="product-title"><%= product.title %></p>
                <div class="product-prices-box">
                    <p class="sale-price">&#8377;<%= product.price %></p>
                  <p class="original-price mx-2">&#8377;<%= product.
                    sales_price %></p>
                  <p class="product-rating">★★★★☆</p>
                </div>
                
                <button class="add-to-cart-btn">Add to Cart</button>
            </div>
        </div>    
    <% }) %>

    






</body>
<%- include('partials/footerforhome') %> 
</html>