<!DOCTYPE html>
<html lang="en">
<%- include('partials/headforhome', { user: user, categories: categories }) %>
<div id="carouselExampleDark" class="carousel carousel-dark slide carousel-home" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/assets/logo/home1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/assets/logo/home2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/assets/logo/home3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="user-contents">


  <div class="product-grid">
    <% products.forEach(product => { %>
    <div class="product-card">
      <a href="/product/<%= product._id %>">
        <img src="/uploads/<%= encodeURIComponent(product.product_imgs[0]) %>" />
      </a>
      <div class="product-card-like">
        <form action="/add-to-wishlist/<%= product._id %>" method="POST" class="wishlist-form" id="wishlist-form">
          <% if (user) { %>
          <% if (wishlist && wishlist.products && wishlist.products.some(item => item.product_id._id.toString() === product._id.toString())) { %>
          <button type="submit" title="Remove from Wishlist" class="wishlist-button">
            <i class="fa-solid fa-heart in-wishlist"></i>
          </button>
          <% } else { %>
          <button type="submit" title="Add to Wishlist" class="wishlist-button">
            <i class="fa-solid fa-heart not-in-wishlist"></i>
          </button>
          <% } %>
          <% } else { %>
          <button type="button" title="Login to Add to Wishlist" class="wishlist-button" onclick="window.location.href='/login'">
            <i class="fa-solid fa-heart"></i>
          </button>
          <% } %>
        </form>

      </div>
      <a href="/product/<%= product._id %>">
        <p class="product-title"><%= product.title %></p>
      </a>
      <div class="product-prices-box">
        <p class="sale-price price-inr">&#8377;<%= product.price %></p>
        <p class="original-price price-inr mx-2">&#8377;<%= product.sales_price %></p>
        <!-- <p class="product-rating">★★★★☆</p> -->
        <% if (product.price > product.sales_price) { %>
        <span class="discount-percentage">
          <%= Math.round(((product.price - product.sales_price) / product.price) * 100) %>% Off
        </span>
        <% } %>

      </div>
      <!-- <% if (product.available_quantity == 0) { %>
                            <form action="/add-to-cart/<%= product._id %>" method="POST" class="cart-form" id="cart-form">
                                <button type="submit" class="add-to-cart-btn" data-id="<%= product._id %>">Out Of Stock</button>
                            </form>
                        <% } else { %>
                            <form action="/add-to-cart/<%= product._id %>" method="POST" class="cart-form" id="cart-form">
                                <button type="submit" class="add-to-cart-btn" data-id="<%= product._id %>">Add to Bag</button>
                            </form>
                        <% } %> -->
      <form action="/add-to-cart/<%= product._id %>" method="POST" class="cart-form" id="cart-form">
        <button type="submit" class="add-to-cart-btn" data-id="<%= product._id %>">Add to Bag</button>
      </form>


    </div>
    <% }) %>
  </div>

</div>





</body>
<%- include('partials/footerforhome') %>
<script>
  // Scroll to top on page load
  window.onload = function() {
    window.scrollTo(0, 0);
  };
  const urlParams = new URLSearchParams(window.location.search);
  const message = urlParams.get('msg');

  if (message) {
    iziToast.success({
      message: message,
      backgroundColor: '#0e932d',
      messageColor: '#FFFFFF',
      icon: 'fa fa-check',
      iconColor: '#FFFFFF',
      timeout: 2000,
      position: 'topRight',
    });

    const newUrl = window.location.origin + window.location.pathname;
    window.history.replaceState(null, '', newUrl);
  }
  const toastWish = (message) => {
    iziToast.show({
        message: message,
        backgroundColor: '#e80071', 
        messageColor: '#FFFFFF',
        icon: 'fas fa-check-circle',
        iconColor: '#FFFFFF',
        timeout: 3000, 
        position: 'bottomCenter',
    });
};
  document.addEventListener('DOMContentLoaded', () => {
    const forms = document.querySelectorAll('.wishlist-form');

    forms.forEach(form => {
      form.addEventListener('submit', function(event) {
        event.preventDefault();

        const button = form.querySelector('button');
        const icon = button.querySelector('i');
        const productId = form.action.split('/').pop();
        const url = form.action;

        fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              product_id: productId
            }),
          })
          .then(response => response.json())
          .then(data => {
            if (data.action === 'added') {
              icon.classList.remove('not-in-wishlist');
              icon.classList.add('in-wishlist');
              button.title = 'Remove from Wishlist';

               toastWish('Product has been added to Wishlist.')
            } else if (data.action === 'removed') {
              icon.classList.remove('in-wishlist');
              icon.classList.add('not-in-wishlist');
              button.title = 'Add to Wishlist';
              
              toastWish('Product has been removed from Wishlist')
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
      });
    });
  });

  document.querySelectorAll('.add-to-cart-btn').forEach(button => {

    const toastSuccess = (message) => {
      iziToast.success({
        message: message,
        backgroundColor: '#0e932d',
        messageColor: '#FFFFFF',
        icon: 'fa fa-check',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',

      });
    };

    const toastError = (message) => {
      iziToast.error({
        message: message,
        backgroundColor: '#e51e1e',
        messageColor: '#FFFFFF',
        icon: 'fa fa-times',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',
      });
    };
    const toastInfo = (message) => {
      iziToast.info({
        message: message,
        backgroundColor: '#2160de',
        messageColor: '#FFFFFF',
        icon: 'fa fa-info-circle',
        iconColor: '#FFFFFF',
        timeout: 1500,
        position: 'topRight',
      });
    };

    const toastWarning = (message) => {
      iziToast.warning({
        message: message,
        backgroundColor: '#e5811e',
        messageColor: '#212529',
        icon: 'fa fa-exclamation-triangle',
        iconColor: '#212529',
        timeout: 1500,
        position: 'topRight',
      });
    };
    button.addEventListener('click', (event) => {
      event.preventDefault();
      const productId = event.target.dataset.id;
      const quantity = 1;

      if ('<%= user %>') {
        fetch(`/add-to-cart/${productId}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              quantity
            })
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              toastSuccess(data.message)
            } else {
              toastError(data.message)
            }
          })
          .catch(error => {
            console.error('Error:', error);
            toastWarning('Error adding product to cart.')
          });
      } else {
        const cart = JSON.parse(localStorage.getItem('cart')) || [];
        const existingItem = cart.find(item => item.productId === productId);

        if (existingItem) {
          existingItem.quantity = quantity;
        } else {
          cart.push({
            productId,
            quantity
          });
        }

        localStorage.setItem('cart', JSON.stringify(cart));
        toastSuccess('Product added to cart!')
      }
    });
  });


</script>

</html>