<!DOCTYPE html>
<html lang="en">
    <%- include('partials/headforhome', { user, categories }) %>

    <div class="user-contents">
        <div class="container my-2">
            <div class="brudcrumbs-user-menu"><a href="/home">Home</a> > <a href="/my-account">My Account</a> > <a href="/my-orders">My Orders</a> > <a href="#">Order Id <%= orderId %></a></div>
            <div class="row">
              <!-- Left Side Box -->
              <div class="col-md-3">
                <div class="card shadow-sm user-menu">
                    <hr>
                    <a href="/my-account"><i class="fas fa-user"></i> &nbsp; My Account</a><hr>
                    <a href="/manage-address"><i class="fa-solid fa-shop"></i> &nbsp; Manage Address</a><hr>
                    <a href="/my-coupns"><i class="fa-solid fa-gift"></i> &nbsp; My Coupns</a><hr>
                    <a href="/my-wishlist"><i class="fa-solid fa-heart"></i> &nbsp; My Wishlist</a><hr>
                    <a href="/my-wallet"><i class="fa-solid fa-wallet"></i> &nbsp; My Wallet</a><hr>
                    <a href="/my-orders" class="active"><i class="fa-solid fa-truck"></i> &nbsp; My Orders</a><hr>
                    <a href="/logout"><i class="fa-solid fa-power-off"></i> &nbsp; Logout</a><hr>
                </div>
              </div>
              
              <!-- Right Side Box -->
              <div class="col-md-9">
                <div class="card shadow-sm p-4 user-menu-wishlist">
                    <div class="product-datailpage">
                      <div class="product-datailpage-status mb-2">
                        <p>Product Status:&nbsp;&nbsp;  
                          <p2 class="m-0 mb-4 
                          <% if (productStatus === 'pending') { %> yellow-p <% } %>
                          <% if (productStatus === 'processing') { %> blue-p <% } %>
                          <% if (productStatus === 'shipped') { %> pink-p <% } %>
                          <% if (productStatus === 'delivered') { %> green-p <% } %>
                          <% if (productStatus === 'canceled') { %> red-p <% } %>
                          <% if (productStatus === 'return_req') { %> yellow-p <% } %>
                          <% if (productStatus === 'returned') { %> blue-p <% } %>">
                          <%= productStatus %>
                        </p2>
                        </p>
                      </div>
                        
                      <div class="product-datailpage-address p-2 mb-2">
                        <p><strong>Delivery Address</strong></p>
                        <p>Address Type:  <%= address.address_type %> </p>
                               <p><%= address.address %></p>
                               <p><%= address.land_mark %></p>
                               <p><%= address.district %>, <%= address.city %>, <%= address.state %>, <%= address.pin_code %></p>
                                <p><%= address.country %></p>
                      </div>
                        
                      </div>
                      <div>
                        <div class="cart-item card product-detailpage-product px-2 pt-2 shadow-sm" data-product-id="<%= product._id %>" data-variant-id="<%= variant._id %>">
                          <div class="row g-0">
                            <div class="col-md-2 text-center">
                              <img id="main-display-image" 
                                src="<%= variant.images && variant.images[0] ? variant.images[0] : 'https://res.cloudinary.com/your-cloud-name/image/upload/v1736860957/default-image.jpg' %>" 
                                class="img-fluid rounded" 
                                alt="<%= product.title || 'Product Image' %>">
                            </div>
                            <div class="col-md-10">
                              <div class="card-body px-2 py-0">
                                <h6 class="card-title"><%= product.product_id.title %> - <%= variant.shade %></h6>
                                <a href="/product/<%= product.product_id._id %>/<%= variant._id %>">details</a>
                                <div class="cart-box-quantity-selector d-flex my-1">
                                  <p class="product-quantity qty m-0">QTY: <%= product.quantity %></p>
                                </div>
                                <div class="d-flex justify-content-between cart-price">
                                  <p class="card-text">
                                    Unit Price: <span class="original-price price-inr">₹<%= variant.regularPrice %></span>
                                    <span class="sales-price price-inr">₹<%= variant.salePrice %></span>
                                  </p>
                                  <p class="card-text">
                                    Total: <span class="sales-price price-inr">₹<%= variant.salePrice * product.quantity %></span>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="mt-4">
                        <% if (productStatus === "delivered") { %>
                            <p>Add review</p>
                        <% } else { %>
                          ""
                        <% } %>
                      </div>
                </div>
              </div>
              
            </div>
          </div>
          
    </div>
    
    






</body>
<%- include('partials/footerforhome') %> 

<script>


</script>
</html>