<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/assets/logo/glowly.com.logo.png" type="image/png">
    <title>Glowly.com: Buy Cosmetic Products</title>
</head>
<body>
    <nav>
        <div class="nav-offer">
            <div class="nav-offer1">Nav offer and app</div>
            <div class="nav-offer2">
                <div class="nav-offer-content"><a href="#"><i class="fa-solid fa-mobile-screen-button"></i>GET APP</a></div>
                <div class="nav-offer-content"><a href="#"><i class="fas fa-truck"></i>TRACK ORDER</a></div>
                <div class="nav-offer-content"><a href="#"><i class="fas fa-question-circle"></i>HELP</a></div>
            </div> 
        </div>
        <div class="nav-bar">
            <div class="nav-bar-logo"><a href="/home">Glowly</a></div>
            <div class="nav-bar-lists">
                <ul>
                    <!-- Home Menu -->
                    <li class="dropdown">
                        <a href="/home">HOME</a>
                        <!-- <div class="dropdown-menu">
                            <a href="#">Welcome</a>
                        </div>
                        <span class="arrow"><i class="fas fa-triangle"></i></span> -->
                    </li>
            
                    <!-- Shop by Category -->
                    <li class="dropdown">
                        SHOP BY CATEGORY
                        <div class="dropdown-menu">
                            <div class="categories-container">
                                <% categories.forEach(category => { %>
                                    <div class="category-block">
                                        <!-- Render Category Name -->
                                        <div class="category-name">
                                            <a href="/category/<%= category.name %>">
                                                <%= category.name %>
                                            </a>
                                        </div>
                                        
                                        <!-- Render Subcategories -->
                                        <div class="subcategory-list">
                                            <% category.subcategories.forEach(subcategory => { %>
                                                <div class="subcategory">
                                                    <a href="/subcategory/<%= subcategory.name %>">
                                                        <%= subcategory.name %>
                                                    </a>
                                                </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                        <span class="arrow"><i class="fas fa-caret-down"></i></span>
                    </li>
                    
                    
                    
                    
            
                    <!-- Brands -->
                    <li class="dropdown">
                        <a href="users/brands">BRANDS</a>
                    </li>
            
                    <!-- New Menu -->
                    <li class="dropdown">
                        <a href="/new-arrivals">NEW</a>
                        <!-- <div class="dropdown-menu">
                            <a href="#">Latest Arrivals</a>
                        </div>
                        <span class="arrow"><i class="fas fa-triangle"></i></span> -->
                    </li>
            
                    <!-- Luxury Menu -->
                    <!-- <li class="dropdown">
                        <a href="/luxury">LUXURY</a>
                        <div class="dropdown-menu">
                            <a href="#">Foundation</a>
                            <a href="#">Lipsticks</a>
                        </div>
                        <span class="arrow"><i class="fas fa-triangle"></i></span>
                    </li> -->
                </ul>
            </div>
            
            
            <div class="nav-bar-search">
                <form action="" method="GET">
                    <input type="text" id="nav-search" name="nav-search" placeholder="Search Product and Brands"> 
                   <button  class="nav-bar-search-button"><i class="fas fa-search"></i></button>
                </form>
                
                
            </div>
            <div class="nav-bar-last">
                <% if (!name) { %> 
                    <!-- If User Is NOT Logged In -->
                    <a href="/login">Log in</a>
                    <button class="nav-bar-last-signup-btn">
                        <a href="/signup">Sign Up</a>
                    </button>
                    <i class="fa-solid fa-bag-shopping"></i>
                    <i class="fa-regular fa-heart"></i>
                <% } else { %> 
                    <!-- If User IS Logged In -->
                    <i class="fa-solid fa-bag-shopping"></i>
                    <i class="fa-regular fa-heart"></i>
                    <div class="profile-section dropdown">
                        <span class="username"><%= name %></span>
                        <i class="fa-solid fa-circle-user"></i>
                        <div class="dropdown-menu2">
                            <a href="/myaccount"><i class="fas fa-user"></i> &nbsp; My Account</a>
                            <a href="/settings"><i class="fa-solid fa-gear"></i> &nbsp; Settings</a>
                            <a href="/orders"><i class="fa-solid fa-truck"></i> &nbsp; Orders</a>
                            <a href="/logout"><i class="fas fa-sign-out"></i> &nbsp; Logout</a>
                        </div>
                        <span class="arrow"><i class="fas fa-triangle"></i></span>   
                    </div>
                <% } %>
            </div>
            
        </div>
        <div class="horizontal-line"><hr></div>

    </nav>
